<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>

<body>
    <h1>Privacy Policy</h1>

    <p>Your privacy is important to us. It is DarmRakshaSangh's policy to respect your privacy regarding any information we may collect from you across our website, http://dharmrakshasangh.com/ , and other sites we own and operate.</p>

    <h2>Information We Collect</h2>

    <p>We only collect information you provide directly to us. This may include personal information such as your name, email address, phone number, and donation details. We may also collect non-personal information like browser type, operating system, and website usage statistics.</p>

    <h2>How We Use Your Information</h2>

    <p>We may use the information we collect to:</p>

    <ul>
        <li>Process and manage donations</li>
        <li>Send you donation confirmations and updates</li>
        <li>Respond to your inquiries</li>
        <li>Improve our website and user experience</li>
    </ul>

    <h2>Sharing Your Information</h2>

    <p>We do not share your personal information with third parties, except as required by law or to fulfill the purposes outlined in this Privacy Policy.</p>

    <h2>Cookies</h2>

    <p>We use cookies to enhance your experience on our website. You can choose to disable cookies through your browser settings, but this may affect the functionality of the site.</p>

    <h2>Security</h2>

    <p>We take reasonable measures to protect your personal information from unauthorized access or disclosure. However, no data transmission over the internet can be guaranteed as 100% secure.</p>

    <h2>Changes to This Privacy Policy</h2>

    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new policy on this page.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions about this Privacy Policy, please contact us at 9837164790.</p>

    <p>This Privacy Policy was last updated on 13-8-23.</p>
</body>

</html>
