{% extends "navbar.html" %}
{% block donet %}
<div class="col-lg-8 text-center mx-auto" id="donate">
    <p class="mt-4">सहयोग राशी /Donate Now</p>
    <h3>SCAN AND PAY</h3>
    <div class="row mx-auto">

        <div class="col-lg-4 mt-4">
            Name: DHARM RAKSHA SANGH
            <br>
            Current A/c No: 101705500235
            <br>
            Bank Name: ICICI Bank
            <br>
            IFC Code : ICIC0001017
            <br>
            Branch Vrindavan
        </div>

        <div class="col-lg-4">
            <img alt="" height="200" src="{{barcode.img.url}}">
        </div>

        <div class="col-lg-4 mt-4">
            आयकर की धारा 80-G  एवं 12 -A के अंतर्गत कर राशि में छूट प्राप्त करने हेतु मान्य Vide URNO. AACTD6153HE20221
            Valid
            upto AY 2025
            <p>PAN: AACTD6153H</p>
        </div>

    </div>
</div>
{% endblock %}


