{% extends "navbar.html" %}

{% block services %}

<div class="container text-center">
    <h1>Dharm Sandesh</h1>
    <hr>
    <div class="row">
        {% for sandesh in sandesh %}
        <div class="row mb-3 mx-auto">
            <div class="col-lg-4">
                <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen frameborder="0" src="{{sandesh.video_link}}"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                </div>
            </div>
            <div class="col-lg-8">
                <p><strong>{{sandesh.name}}</strong></p>
                <p style="text-align:justify;">{{sandesh.desc}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock services %}


{% block js %}

{% endblock js %}

