{% extends "navbar.html" %}

{% block services %}
<div class="container mt-5">
    <h1 class="text-center">प्रमुख तीर्थ स्थानों के हेल्पलाइन नम्बर </h1>

    <!-- Table to list helpline numbers by city -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">तीर्थ स्थल </th>
                <th scope="col">व्यक्ति का नाम</th>
                <th scope="col">हेल्पलाइन नम्बर</th>
                <th scope="col">विवरण</th>
            </tr>
        </thead>
        <tbody>
           {% for i in helpline %}
            <tr>
                <td>{{i.place}}</td>
                <td>{{i.contact_person}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.desc}}</td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
{% endblock services %}
