{% extends "navbar.html" %}

{% block services %}
<div class="container mt-5">
        <div class="row">
            <!-- Rashifal Div for Aries -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aries (मेष)</h5>
                        <p class="card-text">Your horoscope for today: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod efficitur libero, at sollicitudin erat mollis eu.</p>
                        <p class="card-text">Lucky Color: Red</p>
                        <p class="card-text">Lucky Number: 7</p>
                    </div>
                </div>
            </div>

            <!-- Rashifal Div for Taurus -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Taurus (वृषभ)</h5>
                        <p class="card-text">Your horoscope for today: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod efficitur libero, at sollicitudin erat mollis eu.</p>
                        <p class="card-text">Lucky Color: Green</p>
                        <p class="card-text">Lucky Number: 5</p>
                    </div>
                </div>
            </div>
            <!-- Add more rashifal divs for other zodiac signs here -->
        </div>
    </div>
{% endblock services %}
