{% extends "navbar.html" %}
{% block services %}
<div class="container mt-5">
    <h1 class="text-center">List of Items in Divs</h1>

    <!-- Example list of items in divs -->
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-text">Description of Item 1.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Item 2</h5>
                    <p class="card-text">Description of Item 2.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Item 3</h5>
                    <p class="card-text">Description of Item 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock services %}





