{% extends "navbar.html" %}
{% block services %}
<div class="container mt-5">
    <h1 class="text-center">List of Items in Divs</h1>

    <!-- Example list of items in divs -->
    <div class="row">
        {% for karykram in karykram %}
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{karykram.title}}</h5>
                    <p class="card-text">{{karykram.detail}}</p>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock services %}





