{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dharm Raksha Sangh</title>
  <link rel="icon" type="image/x-icon" href="/static/admin/img/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Custom CSS styles */
    .jumbotron {
      background-image: url('header-bg.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      text-align: center;
      padding: 15px 0;
    }

    .jumbotron h1 {
      font-size: 48px;
      color: black;
      margin-bottom: 20px;
    }

    .jumbotron p {
      font-size: 24px;
      margin-bottom: 30px;
    }

    .btn-primary {
      background-color: #f05454;
      border-color: #f05454;
    }

    .btn-primary:hover {
      background-color: #e64444;
      border-color: #e64444;
    }

    #services .card {
      transition: transform 0.3s;
    }

    #services .card:hover {
      transform: translateY(-10px);
    }

    #contact .form-group label {
      font-weight: bold;
    }

    footer {
      padding: 20px 0;
      color: #fff;
      background-color: #333;
    }
  </style>
</head>

<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="{{title_data.img.url}}" alt="" height="100" /><strong>{{title_data.title}}</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">हमारे बारे में </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">हमारे स्तंभ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery/">गैलरी</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewPdf/">मांगलिक पत्रिका - 2023-2024</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#donate">सहयोग राशी/Donate Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">संपर्क</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Header -->
  {% if banner1.img.url %}
  <header class="jumbotron">
    <div class="fluid-container">
      <!-- <h1>Welcome to our Charity Organization</h1> -->
      <!-- <p>We strive to make a positive impact on the community.</p> -->
      <img src="{{banner1.img.url}}" alt="" class="banner_img img-fluid mb-3">
      <a class="btn btn-primary btn-lg" href="#donate" role="button">Donate Now</a>
    </div>
  </header>
  {% endif %}

  {% if shloka %}
  <!-- Slider -->
  <section id="slider" class="">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          {% for i in shloka %}
          <div class="carousel-item {% if forloop.counter  == 1 %} active {% else %} {% endif %}">
            <img src="{{i.img.url}}" class="d-block w-100" alt="Slide 1" height="150">
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  {% endif %}

  <div class="col-lg-8 mt-2 mx-auto">
    <p class="text-justify"><strong>समाज को धर्म पूर्वक जोड़कर सनातन - संस्कारों का संरक्षण करना आज की महती आवश्यकता है। हमारा राष्ट्र 'भारतवर्ष' अखंड हिंदू राष्ट्र बन कर पुनः विश्व गुरु के रूप में स्थापित हो एवं श्रीरामजन्मभूमि की भांति श्रीकृष्णजन्मभूमि भी अपने गौरवशाली रूप में स्थापित हो - धर्म रक्षा संघ के इस पावन प्रयास में आइए ! हम सब एकजुट होकर तन-मन-धन से संकल्प पूर्वक प्रस्तुत हों ।</strong></p>
  </div>

  

  {% block content %}

  {% endblock content %}

  <div id="donate" class="col-lg-8 text-center mx-auto">
    <p class="mt-4">सहयोग राशी /Donate Now</p>
    <h3>SCAN AND PAY</h3>
    <div class="row mx-auto">

      <div class="col-lg-4 mt-4">
        Name: DHARM RAKSHA SANGH
        <br>
        Current A/c No: 101705500235
        <br>
        Bank Name: ICICI Bank
        <br>
        IFC Code : ICIC0001017
        <br>
        Branch Vrindavan
      </div>

      <div class="col-lg-4">
        <img src="{{barcode.img.url}}" alt="" height="200">
      </div>

      <div class="col-lg-4 mt-4">
        आयकर की धारा 80-G  एवं 12 -A के अंतर्गत कर राशि में छूट प्राप्त करने हेतु मान्य Vide URNO. AACTD6153HE20221 Valid
        upto AY 2025
      </div>

    </div>
  </div>

  <!-- Contact Section -->
  <section id="contact" class="py-5 bg-light">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Get in touch with us for any inquiries or support.</p>
      <form id="save_form_id" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Your Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="whatsapp">Your Whatsapp Number</label>
          <input type="number" class="form-control" id="whatsapp" name="whatsapp" required>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" id="save_form" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-4 bg-dark text-white">
    <div class="container text-center">
      <p>&copy; 2023 Dharm Raksha Sangh. All rights reserved.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script>
    $("#save_form").on('submit', function (e) {
      e.preventDefault();
      $.ajax(
        {
          type: 'post',
          url: '/',
          data: $('save_form_id').serialize(),

          success: function (result) {
            alert(result);
          }
        });
    });
  </script>
    {% block js %}

    {% endblock js %}
</body>

</html>