{% extends "navbar.html" %}


{% block main_banner%}

{% if banner1.img %}

<header class="jumbotron">
    <div class="fluid-container">
        <!-- <h1>Welcome to our Charity Organization</h1> -->
        <!-- <p>We strive to make a positive impact on the community.</p> -->
        <img alt="" class="banner_img mb-3" src="{{banner1.img.url}}">
    </div>
</header>

{% endif %}

{% endblock main_banner%}


{% block message %}

<marquee behavior="" class="mb-3" direction="">{{suchana.desc}}</marquee>

<div class="container mx-auto bg-light">
    <p class="fs-4" style="text-align: justify;"><strong>समाज को धर्म पूर्वक जोड़कर सनातन - संस्कारों का संरक्षण करना आज
        की महती आवश्यकता है।
        हमारा राष्ट्र 'भारतवर्ष' अखंड हिंदू राष्ट्र बन कर पुनः विश्व गुरु के रूप में स्थापित हो एवं श्रीरामजन्मभूमि की
        भांति श्रीकृष्ण जन्मभूमि भी अपने गौरवशाली रूप में स्थापित हो धर्म रक्षा संघ के इस पावन प्रयास में आइए, हम सब
        एकजुट होकर तन-मन-धन से संकल्प पूर्वक प्रस्तुत हों ।</strong></p>
</div>

{% endblock %}


{% block tv %}
<div class="container mb-3">
    <div class="row mx-auto">
        <div class="col-lg-6 mt-4">
            <div class="row mt-5">
                {% for i in six_box1 %}
                <a href="{{i.title}}" class=" mx-auto col-lg-3 m-1 btn btn-primary"><img class="img-fluid" src="{{i.image.url}}"/></a>
                {% endfor %}
<!--                <a href="/services/dharm_sandesh/" class="p-5 mx-auto col-lg-3 m-1 btn btn-primary">Dharm sandesh</a>-->
<!--                <a href="/services/dharmik_ayojan/" class="p-5 mx-auto col-lg-3 m-1 btn btn-primary">Dharmik Ayojan</a>-->
<!--                <a href="/services/rajat_shila/" class="p-5 mx-auto col-lg-3 m-1 btn btn-primary">Rajan Shila</a>-->
            </div>

            <div class="row mt-5">
                {% for i in six_box2 %}
                <a href="{{i.title}}" class=" mx-auto col-lg-3 m-1 btn btn-primary"><img class="img-fluid" src="{{i.image.url}}"/></a>
                {% endfor %}
<!--                <a href="/services/braj_yatra/" class="p-5 mx-auto col-lg-3 m-1 btn btn-primary">Braj Yatra</a>-->
<!--                <a href="/services/jyotish/" class="p-5 mx-auto col-lg-3 m-1 btn btn-primary">Jyotish / Vaastu</a>-->
<!--                <a href="/services/daan/" class="p-5 mx-auto col-lg-3 m-1 btn btn-primary">Daan</a>-->
            </div>
        </div>

        <div class="col-lg-6 mt-3 p-3">
            <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="{{tv.desc}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock tv %}


{% block biography %}

<!-- Services Section -->
<section class="py-5 bg-light" id="main-body">
    <div class="container">
        <h2>हमारे स्तंभ</h2>
        <div class="row text-center">
            {% for parichay_data in parichay_data %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <img alt="Service 1" class="card-img-top" height="300" src="{{parichay_data.img.url}}">
                    <div class="card-body">
                        <p class="card-title"><strong>{{parichay_data.title}}</strong></p>
                        <!--               <p class="card-text" style="text-align: justify;">{{parichay_data.desc|slice:":255"}}</p>-->
                        <a href="/biography/{{parichay_data.id}}/">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock biography %}

{% block services %}

<!-- Services Section -->
<section class="py-5 bg-light" id="services">
    <div class="container">
        <h2>हमारे प्रकल्प</h2>
        <div class="row text-center">
            {% for services in services %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <img alt="Service 1" class="card-img-top" height="200"
                         src="{% if services.img %}{{services.img.url}}{% endif %}">
                    <div class="card-body">
                        <h6 class="card-title"><strong>{{services.name}}</strong></h6>
                        <!--               <p class="card-text" style="text-align: justify;">{{services.description|slice:":100"}}</p>-->
                        <a href="/service_details/{{services.id}}/">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock services %}

{% block donet %}
<div class="col-lg-8 text-center mx-auto" id="donate">
    <p class="mt-4">सहयोग राशी /Donate Now</p>
    <h3>SCAN AND PAY</h3>
    <div class="row mx-auto">

        <div class="col-lg-4 mt-4">
            Name: DHARM RAKSHA SANGH
            <br>
            Current A/c No: 101705500235
            <br>
            Bank Name: ICICI Bank
            <br>
            IFC Code : ICIC0001017
            <br>
            Branch Vrindavan
        </div>

        <div class="col-lg-4">
            <img alt="" height="200" src="{{barcode.img.url}}">
        </div>

        <div class="col-lg-4 mt-4">
            आयकर की धारा 80-G  एवं 12 -A के अंतर्गत कर राशि में छूट प्राप्त करने हेतु मान्य Vide URNO. AACTD6153HE20221
            Valid
            upto AY 2025
            <p>PAN: AACTD6153H</p>
        </div>

    </div>
</div>
{% endblock %}


{% block js %}
{% endblock js %}
