{% extends "base.html" %}
  {% block services %}
  
  <!-- Services Section -->
  <section id="services" class="py-5 bg-light">
    <div class="container">
      <h2>हमारी सेवाएं </h2>
      <div class="row">
        {% for services in services %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{services.img.url}}" class="card-img-top" alt="Service 1" height="200">
            <div class="card-body">
              <h5 class="card-title"><strong>{{services.name}}</strong></h5>
               <p class="card-text text-justify">{{services.description|slice:":255"}}</p>
               <a href="/service_details/{{services.id}}/">Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock services %}

  