{% extends "navbar.html" %}


 {% block main_banner%}

    {% if banner1.img %}

    <header class="jumbotron">
        <div class="fluid-container">
            <!-- <h1>Welcome to our Charity Organization</h1> -->
            <!-- <p>We strive to make a positive impact on the community.</p> -->
            <img alt="" class="banner_img mb-3" src="{{banner1.img.url}}">
        </div>
    </header>

    {% endif %}

 {% endblock main_banner%}


{% block message %}

<marquee behavior="" direction="" class="mb-3">{{suchana.desc}}</marquee>

<div class="container mx-auto bg-light">
    <p class="fs-4" style="text-align: justify;"><strong>समाज को धर्म पूर्वक जोड़कर सनातन - संस्कारों का संरक्षण करना आज की महती आवश्यकता है।
    हमारा राष्ट्र 'भारतवर्ष' अखंड हिंदू राष्ट्र बन कर पुनः विश्व गुरु के रूप में स्थापित हो एवं श्रीरामजन्मभूमि की
    भांति श्रीकृष्ण जन्मभूमि भी अपने गौरवशाली रूप में स्थापित हो धर्म रक्षा संघ के इस पावन प्रयास में आइए, हम सब
    एकजुट होकर तन-मन-धन से संकल्प पूर्वक प्रस्तुत हों ।</strong></p>
</div>

{% endblock %}

{% block biography %}

   <!-- Services Section -->
   <section id="main-body" class="py-5 bg-light">
    <div class="container">
      <h2>हमारे स्तंभ</h2>
      <div class="row text-center">
        {% for parichay_data in parichay_data %}
        <div class="col-md-3">
          <div class="card mb-4">
            <img src="{{parichay_data.img.url}}" class="card-img-top" alt="Service 1" height="300">
            <div class="card-body">
              <p class="card-title"><strong>{{parichay_data.title}}</strong></p>
<!--               <p class="card-text" style="text-align: justify;">{{parichay_data.desc|slice:":255"}}</p>-->
               <a href="/biography/{{parichay_data.id}}/">Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock biography %}

  {% block services %}

  <!-- Services Section -->
  <section id="services" class="py-5 bg-light">
    <div class="container">
      <h2>हमारे प्रकल्प</h2>
      <div class="row text-center">
        {% for services in services %}
        <div class="col-md-3">
          <div class="card mb-4">
            <img src="{% if services.img %}{{services.img.url}}{% endif %}" class="card-img-top" alt="Service 1" height="200">
            <div class="card-body">
              <h6 class="card-title"><strong>{{services.name}}</strong></h6>
<!--               <p class="card-text" style="text-align: justify;">{{services.description|slice:":100"}}</p>-->
               <a href="/service_details/{{services.id}}/">Read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock services %}

{% block donet %}
<div id="donate" class="col-lg-8 text-center mx-auto">
        <p class="mt-4">सहयोग राशी /Donate Now</p>
        <h3>SCAN AND PAY</h3>
        <div class="row mx-auto">

          <div class="col-lg-4 mt-4">
            Name: DHARM RAKSHA SANGH
            <br>
            Current A/c No: 101705500235
            <br>
            Bank Name: ICICI Bank
            <br>
            IFC Code : ICIC0001017
            <br>
            Branch Vrindavan
          </div>

          <div class="col-lg-4">
            <img src="{{barcode.img.url}}" alt="" height="200">
          </div>

          <div class="col-lg-4 mt-4">
            आयकर की धारा 80-G  एवं 12 -A के अंतर्गत कर राशि में छूट प्राप्त करने हेतु मान्य Vide URNO. AACTD6153HE20221
            Valid
            upto AY 2025
              <p>PAN: AACTD6153H</p>
          </div>

        </div>
      </div>
{% endblock %}

{% block enquiry %}

<!-- Contact Section -->
<!--      <section id="contact" class="py-5 bg-light">-->
<!--        <div class="container">-->
<!--          <h2>Contact Us</h2>-->
<!--          <p>Get in touch with us for any inquiries or support.</p>-->
<!--          <form id="save_form_id" method="post" enctype="multipart/form-data">{% csrf_token %}-->
<!--            <div class="form-group">-->
<!--              <label for="name">Your Name</label>-->
<!--              <input type="text" class="form-control" id="enq_name" name="name" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="email">Your Email</label>-->
<!--              <input type="email" class="form-control" id="enq_email" name="email" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="whatsapp">Your Whatsapp Number</label>-->
<!--              <input type="number" class="form-control" id="whatsapp" name="whatsapp" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="message">Message</label>-->
<!--              <textarea class="form-control" id="message" name="message" rows="5" required></textarea>-->
<!--            </div>-->
<!--            <button type="submit" id="save_form" class="btn btn-primary">Submit</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </section>-->

{% endblock enquiry %}
