{% extends "navbar.html" %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
        {% if id == 1 %}
        <h1 class="text-center" id="heading_id">संरक्षक</h1>
        {% endif %}
        {% for list_data in list_data %}
        <div class="card mt-3 col-lg-3 text-center">
            <img alt="..." class="card-img-top" height="300" src="{% if list_data.image %}{{list_data.image.url}}{% endif %}">
            <div class="card-body">

                <p>{{list_data.name}}</p>

                {% if id != 1 %}
                <p>{{list_data.post}}</p>
                {% endif %}

                {% if list_data.address %}
                <p>{{list_data.address}}</p>
                {% endif %}

                {% if id != 1 %}
                    {% if list_data.contact %}
                    <p>&nbsp; &nbsp;{{list_data.contact}}</p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    });

</script>
{% endblock js %}
