{% extends "navbar.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for list_data in list_data %}
        <div class="card mt-3" style="width: 18rem;">
            <img alt="..." class="card-img-top" height="250" src="{{list_data.image.url}}">
            <div class="card-body">
                <table>
                    <tr>
                        <th>नाम</th>
                        <td>{{list_data.name}}</td>
                    </tr>

                    <tr>
                        <th>पद</th>
                        <td>{{list_data.post}}</td>
                    </tr>

                    <tr>
                        <th>पता</th>
                        <td>{{list_data.address}}</td>
                    </tr>
                    <tr>
                        <th>संपर्क</th>
                        <td>{{list_data.contact}}</td>
                    </tr>
                </table>
<!--                <h5 class="card-title">नाम : &nbsp; &nbsp; <b>{{list_data.name}}</b></h5>-->
<!--                <p class="card-text">पद : &nbsp; &nbsp; <b>{{list_data.post}}</b></p>-->
<!--                <p class="card-text">पता : &nbsp; &nbsp; <b>{{list_data.address}}</b></p>-->
<!--                <p class="card-text">संपर्क : &nbsp; &nbsp; <b>{{list_data.contact}}</b></p>-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    });

</script>
{% endblock js %}
