{% extends "navbar.html" %}
{% block content %}
<div class="container">
    <h2>Sangthan Suchi</h2>
    <form id="registrationForm" method="post">{% csrf_token %}
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" placeholder="Enter your name" required type="text">
        </div>
        <div class="form-group mb-3">
            <label for="name">Sangthan</label>
            <select name="sangthan" id="sangthan" class="form-control">
            {% for sangthan in sangthan %}
                <option value="{{sangthan.id}}">{{sangthan.type}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="name">post name</label>
            <select name="post_name" id="post_name" class="form-control">
            </select>
        </div>
         <div class="form-group mb-3">
            <label for="image">Image</label>
            <input class="form-control" id="image" name="image" required type="file">
        </div>
        <div class="form-group mb-3">
            <label for="address">Address</label>
            <input class="form-control" id="address" name="address" placeholder="Enter your address" required type="text">
        </div>
        <div class="form-group mb-3">
            <label for="mobile">Contact number</label>
            <input class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile" required type="text">
        </div>

        <input class="btn btn-primary" type="submit" value="register">
    </form>
</div>
{% endblock content %}

{% block js %}
    <script>
        $('#sangthan').on('change', function(){
            $('#post_name').html('')
            var sangth_id = $(this).val();
            var myObject = {
              'sangth_id':sangth_id
            }
            var url = '/get_sangth_padname/'
            $.ajax({
                url: url,
                method: 'GET',
                data: myObject,
                success: function (response) {
                    var responseData = response.post_name;

                    var count = 0
                    for(let i of responseData){
                        var html = '';
                        html += '<option value="'+i['post_id']+'">'+i['post_name']+'</option>'
                        $('#post_name').append(html)
                    }
                    console.log(count,'----count')
                },
                error: function (xhr, status, error) {
                    // Handle error here
                    console.log(error);
                }
            });
        })
    </script>
{% endblock js %}
