{% extends "navbar.html" %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
        <h1 class="text-center"></h1>
        {% for list_data in list_data %}
        <div class="card mt-3 col-lg-3">
            <img alt="..." class="card-img-top" height="300" src="{% if list_data.image %}{{list_data.image.url}}{% endif %}">
            <div class="card-body">
                <table>
                    <tr>
                        <td><h5>नाम</h5></td>
                        <td><p>{{list_data.name}}</p></td>
                    </tr>

                    <tr>
                        <td><h5>पद</h5></td>
                        <td><p>{{list_data.post}}</p></td>
                    </tr>

                    {% if list_data.address %}
                    <tr>
                        <td><h5>पता</h5></td>
                        <td><p>{{list_data.address}}</p></td>
                    </tr>
                    {% endif %}

                    {% if list_data.contact %}
                    <tr>
                        <td><h5>संपर्क</h5></td>
                        <td><p>&nbsp; &nbsp;{{list_data.contact}}</p></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    });

</script>
{% endblock js %}
