{% extends 'base.html' %}

{% block content %}
<!-- Content -->
<div class="container-fluid mt-5">
    <div class="row">
        {% for video in videos %}
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="custom-div mb-4">
                <p>{{ video.snippet.title }}</p>
                <p>{{ video.snippet.description }}</p>
                <div class="embed-responsive embed-responsive-4by3">
                    <div class="youtube-player" data-id="{{ video.id.videoId }}"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://www.youtube.com/iframe_api"></script>
<script>
    var players = [];

    function onYouTubeIframeAPIReady() {
        $(".youtube-player").each(function () {
            var videoId = $(this).data("id");
            var player = new YT.Player(this, {
                height: '80%',
                width: '100%', // Set width to 100% for responsiveness
                videoId: videoId,
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
            players.push(player);
        });
    }

    function onPlayerStateChange(event) {
        if (event.data === YT.PlayerState.PLAYING) {
            pauseOtherPlayers(event.target);
        }
    }

    function pauseOtherPlayers(currentPlayer) {
        for (var i = 0; i < players.length; i++) {
            if (players[i] !== currentPlayer) {
                players[i].pauseVideo();
            }
        }
    }

</script>
{% endblock js %}
